.slick {
    min-height: 742px;
    padding: 108px 0;
    position: relative;
    &__slider {
        margin: 0 auto;
        max-width: 750px;
        /* img {
            max-width: 100%;
        } */
    }
    .slick-prev, .slick-next  {
        background-color: white;
        position: absolute;
        top: 50%;
        left: -116px;
        transform: translateY(-50%);
        border: none;
    }

    .slick-next {
        right: -110px;
        left: auto;
        top: 50%;
    }
/* 
    .slick__slider {
        img {
            width: 33%;
        }
    } */

    ///media query, max-width 575px  

    //img{ display: block; max-width: 100%; } 
    .tns-item img { 
        display:block;
        max-width:100%; 
    }
}