.slick {
    min-height: 742px;
    padding: 108px 0 54px 0;
    .container {
        position: relative;
    }
    &__slider {
        margin: 0 auto;
    }
    .prev, .next  {
        position: absolute;
        background-color: white;
        position: absolute;
        top: 40%;
        left: -116px;
        transform: translateY(-40%);
        border: none;
    }

    .next {
        right: -110px;
        left: auto;
        transform: translateY(-40%);
    }

    .tns-item {
        img {
        display: block;
        margin: 0 auto;
       }
    }
    .tns-item img { 
        display:block;
        max-width:100%; 
    }
}