.slick {
    min-height: 820px;
    padding: 108px 0 54px 0;
    .container {
        position: relative;
    }
    &__slider {
        margin: 0 auto;
    }
    .prev, .next  {
        position: absolute;
        background-color: white;
        position: absolute;
        top: 40%;
        left: -116px;
        transform: translateY(-40%);
        border: none;
    }

    .next {
        right: -110px;
        left: auto;
        transform: translateY(-40%);
    }

    .tns-item {
        img {
        display: block;
        margin: 0 auto;
       }
    }
    .tns-item img { 
        display:block;
        max-width:100%; 
    }

    .tns-outer {
        position: relative;
    }
    .tns-nav {
        position: absolute;
        bottom: -15%;
        left: 50%;
        transform: translate(-50%, 10%);
    }
    .tns-nav {
        display: flex;
        justify-content: space-around;
        width: 100px;
        button {
            width: 20px;
            height: 20px;
            border-radius: 100% ;
        }
        .tns-nav-active {
            background: $main_color;
        }
    }
}